.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

.header__left {
    display: flex;
    align-items: center; 
}

.header .header__left img{
    max-width: 10%;
}

.header__right {
    display: flex;
}

.header__button {
    background-color: #ffffff;
    border: 2px solid #055240;
    color: #055240;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.header__button:hover{
    background-color: #055240;
    color: #ffffff;
    
}

.header__right a{
    font-size: 20px;
    font-weight: bold;
    margin: 4px 6px;
    cursor: pointer;
    padding: 10px 20px;
    color: black;
}

.main__container {
    position: relative;
    margin-top: 80px;
    height: 70vh;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.main__container::before{
    content: '';
    position: absolute;
    top: 150px;
    width: 600px; 
    height: 600px; 
    border-radius: 50%;
    background-color: #29c18e; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    z-index: -1;
}

.main__container::before {
    left: -250px; 

}

.main__container::after {
    content: '';
    position: absolute;
    top: 100px;
    width: 500px; 
    height: 500px; 
    border-radius: 50%;
    background-color: #055240; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    z-index: -1;
}


.main__container::after {
    right: -200px; 
}


.main__slogan {
    text-align: center;
    font-size: 70px;
    margin-top: -350px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #055240;
    letter-spacing: 2px;
    word-break: break-all;
}

.main__searchbar {
    display: flex;
    position: absolute;
    width: 800px;
    margin-top: 250px;
   
}

.main__searchbar input[type="text"] {
    padding: 10px 0 10px 30px;
    width: 700px;
    height: 60px;
    border: 2px solid #055240;
    border-radius: 40px 0 0 40px;
    letter-spacing: 1px;
    font-size: 20px;
}

.main__searchbar input[type="text"]:focus {
    box-shadow: 0 0 12px rgba(5, 82, 64, 0.5); 
}

.main__searchbar button{
    width: 100px;
    height: 60px;
    background-color: #055240;
    border-radius: 0 40px 40px 0;
    color: #ffffff;
    text-align: center;
    padding: 5px 5px 0 0;
}

.main__searchbar button:hover{
    box-shadow: 0 0 12px rgba(5, 82, 64, 0.5); 
}

.main__searchbar button:active {
    box-shadow: none; 
}

.main__container .main__content{
    border: 1px solid red;
    width: 100%;
    height: 20vh;
}

.nav__container{
    position: relative;
    display: flex;
    border: 1px solid red;
    height: 50vh;
}

.nav__container nav{
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    border: 1px solid green;
}

.nav__container ul li .nav__bar__icon{
    border: 1px solid red;
    height: auto;
}


.nav__container nav ul li{
    display: inline-block;
    text-align: center;
    font-size: 27px;
    color: #055240;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 10px;
}


  







