.header {
  display: flex;
  color: #055240;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #CBCBCB;
}

.header .logo__link{
  max-width: 54.5px;
  margin-right: 10px;
  cursor: pointer;
}

.header__title {
  font-family: 'Chango';
  font-size: 23px;
  line-height: normal;
}

.main__section-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

.main__section-registerForm {
  width: 100%;
}

.main__section__field-title {
  font-size: 30px;
  color: #055240;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
}

.main__section__field-fullName {
  display: flex;
  gap: 30px;
  width: 100%;
}

.main__section__field-firstName,
.main__section__field-lastName {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.main__section__field-firstName-label,
.main__section__field-lastName-label,
.main__section__field-DOB-label,
.main__section__field-address-label,
.main__section__field-email-label,
.main__section__field-phone-label,
.main__section__field-password-label,
.main__section__field-ConPass-label,
.main__section__field-website-label,
.main__section__field-skill1-label,
.main__section__field-skill2-label,
.main__section__field-skill3-label
{
  color: #055240;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}

.main__section__field-firstName-input,
.main__section__field-lastName-input,
.main__section__field-DOB-input,
.main__section__field-address-input,
.main__section__field-email-input,
.main__section__field-phone-input,
.main__section__field-password-input,
.main__section__field-ConPass-input,
.main__section__field-website-input,
.main__section__field-skill1-input,
.main__section__field-skill2-input,
.main__section__field-skill3-input
 {
  padding-bottom: 5px;
  border-bottom: 2px solid #055240;
  font-size: 18px;
}

.main__section__field-DOB,
.main__section__field-address,
.main__section__field-email,
.main__section__field-phone,
.main__section__field-password,
.main__section__field-ConPass,
.main__section__field-website,
.main__section__field-skill1,
.main__section__field-skill2,
.main__section__field-skill3
 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.buttonWrap {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.button{
  cursor: pointer;
}

.button.register__button.register__button--yet {
  color: #055240;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 29px;
  padding-left: 29px;
  font-weight: bold;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.button.register__button.register__button--done {
  background: #055240;
  color: white;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.register__button--yet:hover
{
  animation: hover-gradient 15s ease infinite;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.register__button--yet:active {
  box-shadow: none; 
}

.register__button--done:hover
{
  animation: hover-gradient 15s ease infinite;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.register__button--done:active {
  box-shadow: none; 
}

