.main__container-request {
  display: flex;
  margin-top: 80px;
  padding: 80px 100px;
  justify-content: center;
}

.request__container-left {
  display: flex;
  flex-direction: column;
}

.request__container-left.postedby {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.request__container-left.picgroup {
  position: relative;
  padding: 20px 0px 20px 0px;
  
}

.request__container-left.picgroup__greendot {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 28px;
  left: 4px;
  border-radius: 50%;
  background-color: #108A00;
  border: 3px solid white;
  z-index: 1;
}

.request__container-left.picgroup__pic {
  height: 6.5em;
  border-radius: 60px;
}

.request__section-title.title__nameGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-left: 45px;
}

.request__section-title.title__nameGroup-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.request__section-title.title__addressGroup {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.request__section-title.title__addressGroup img {
  height: 1.2em;
  padding-right: 3px;
}

.request__section-title.title__addressGroup p {
  color: #A7A7A7;
}

.request__section-title.title__rateGroup {
  margin-top: 34px;
  display: flex;
}

.request__section-title.title__rateGroup-score {
  display: flex;
  align-items: center;
}

.request__section-title.title__rateGroup-score img{
  height: 1.5em;
  padding-right: 5px;
}


.request__section-skill-lang {
  display: flex;
  flex-direction: column;
  flex: 1.7;
  margin-top: 100px;
  padding: 20px 0px 20px 0px;
}

.request__section-skill-lang .skill {
  margin-bottom: 70px;
}

.request__section-skill-lang .skill p {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.request__section-skill-lang .skill ul {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.request__section-skill-lang .skill li {
  background-color: #DBEADB;
  color: #5E6D55;
  padding: 9px 11px;
  font-weight: 600;
}

.lang {
  margin-top: 100px;
}

.request__section-skill-lang .lang p {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.request__section-skill-lang .lang li {
  font-weight: 600;
  margin-bottom: 8px;
  color: #5E6D55;
}

.request__section-skill-lang .lang li span{
  color: black;
}


.request__container-right {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  width: 950px;
}

.top__container {
  border-left: 4px solid #108A00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__container-left {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.top__container-left-request {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.top__container-left-date {
  color: #A7A7A7;
}

.top__container-right-btn {
  cursor: pointer;
  background-color: #108A00;
  color: white;
  font-size: 1rem;
  padding: 8px 25px;
  border-radius: 30px;
}

.top__container-right-btn:hover{
  background-color: #14a800;
  animation: hover-gradient 15s ease infinite;
}

.top__container-right-btn:active {
  scale: 0.95;
}

.top__container-right-submitted {
  display: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: #DBEADB;
  padding: 10px 5px;
}

.top__container-right-submitted span {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.request__title {
  margin-top: 40px;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.request__pic {
  width: 1100px; 
  height: auto; 
  border-radius: 30px;
}

.request__content {
  margin-top: 30px;
  line-height: 1.5em;
  font-size: 1.2rem;
}

ul:last-child li:last-child .request__content {
  border-bottom: 1px solid #A7A7A7;
  padding-bottom: 80px;
}

footer{
  background: #67727e;
  padding: 25px 0 25px 0;
  height: 350px;
}

footer .footer__display__area{
  /* border: 1px solid #ffffff; */
  padding: 0 80px 0 80px;
  margin: auto;
  width: 80%;
  height: 300px;
}

.footer__follow__link{
  font-size: 22px;
  color: #b1b9c3;
  margin-bottom: 20px;
}
.footer__follow__link a{
  text-align: center;
}


.footer__follow__link a:hover{
  cursor: pointer;
  color: #ffffff;
}

.footer__info{
  display: flex;
  justify-content: space-between;
}

.footer__info{
  /* border: 1px solid white ; */
  font-size: 22px;
  color: #b1b9c3;
}

.footer__info__discover{
  flex: 1;
}

.footer__info__company{
  flex: 1;
}

.footer__info__download{
  flex: 1;
}

.footer__info ul li a{
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.footer__info__download p{
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer__info__download a{
  cursor: pointer;
  height: 50px;
}

.footer__info__download img{
  margin-right: 20px;
}

.ios__google__badge{
  display: flex;
}

#google__badge{
  width: 160px;
  height: 50px;
}





