<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beyond Currency - Your Dashboard!</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/media.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>

  <body>
    <header class="header">
      <div class="header__left">
        <img class="header__img" src="/img/logo.png" alt="logo" />
        <p class="header__title">Beyond Currency</p>
      </div>

      <div class="header__right">
        <div class="header__searchbar">
          <form action="" method="get">
            <img class="header__searchbar-icon" src="/svg/search.svg" />
            <input type="text" name="keyword" placeholder="Search" />
          </form>
        </div>
        <a class="header__savedTalent" href=""
          ><img
            class="header__savedTalent-icon"
            src="/svg/savedTalent.svg"
        /></a>
        <a class="header__protfolio" href=""
          ><img class="header__protfolio-icon" src="/svg/protfolio.svg"
        /></a>
      </div>
    </header>
    <main>
      <div class="main__container-dashboard">
        <div class="main__title">
          <p>Your workspace</p>
          <a href="" class="main__title-button">
            <img src="/svg/add.svg" alt="" />
            Post a service
          </a>
        </div>
        <div class="main__card-container">
          <div class="main__card">
            <a href="" style="cursor: pointer"
              ><img class="img-service" src="/img/lawn.webp" alt=""
            /></a>
            <p>Cut grass in the garden.</p>
            <div class="main__card-poster">
              <img class="img-poster" src="/img/man.jpg" alt="" />
              <a href="">Matteo Grasso</a>
            </div>
          </div>
          <div class="main__card">
            <a href="" style="cursor: pointer"
              ><img class="img-service" src="/img/plumbing.jpg" alt=""
            /></a>
            <p>Drains leaking.</p>
            <div class="main__card-poster">
              <img class="img-poster" src="/img/women.jpg" alt="" />
              <a href="">Sofia Grassini</a>
            </div>
          </div>
          <div class="main__card">
            <a href="" style="cursor: pointer"
              ><img class="img-service" src="/img/lawn.webp" alt=""
            /></a>
            <p>Cut grass in the garden.</p>
            <div class="main__card-poster">
              <img class="img-poster" src="/img/man.jpg" alt="" />
              <a href="">Matteo Grasso</a>
            </div>
          </div>
          <div class="main__card">
            <a href="" style="cursor: pointer"
              ><img class="img-service" src="/img/plumbing.jpg" alt=""
            /></a>
            <p>Drains leaking.</p>
            <div class="main__card-poster">
              <img class="img-poster" src="/img/women.jpg" alt="" />
              <a href="">Sofia Grassini</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer__display__area">
        <div class="footer__follow__link">Follow us on: <i class=""></i></div>
        <div class="footer__info">
          <div class="footer__info__discover">
            Discover
            <ul>
              <li><a href="">Become a Tasker</a></li>
              <li><a href="">Service By City</a></li>
              <li><a href="">All Services</a></li>
              <li><a href="">Elite Taskers</a></li>
              <li><a href="">Help</a></li>
            </ul>
          </div>
          <div class="footer__info__company">
            Company
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Press</a></li>
              <li><a href="">Beyond Currency for Good</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Terms & Privacy</a></li>
              <li><a href="">About Our Ads</a></li>
            </ul>
          </div>
          <div class="footer__info__download">
            Apps coming soon
            <p>Sorry for your inconvenience, our apps<br />are developing.</p>
            <div class="ios__google__badge">
              <a href="">
                <img
                        src="/svg/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                        alt=""
                />
              </a>
              <a href="">
                <img
                        id="google__badge"
                        src="/img/google-play-badge.png"
                        alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script></script>
  </body>
</html>
