<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beyond Currency - Your Dashboard!</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/media.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/post_new.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
  </head>

  <body>
  <header class="header">
    <div class="header__left">
      <a th:href="@{/}" class="logo__link"><img class="header__img" src="/img/logo.png" alt="logo" /></a>
      <p class="header__title">Beyond Currency</p>
    </div>

    <div class="header__right">
      <div class="header__searchbar">
        <form action="" method="get">
          <img class="header__searchbar-icon" src="/svg/search.svg" />
          <input type="text" name="keyword" placeholder="Search" />
        </form>
      </div>
      <div class="header__notification">
        <div class="notifi-dot"></div>
        <div class="icon-bell">
          <img class="icon-bell-image" id="bell" src="/img/bell.png" alt="">
        </div>
        <ul class="notifi-box" id="box">
          <li class="notifi-item">
            <img class="notifi-photo" src="/img/photo-1592334873219-42ca023e48ce.avif" alt="">
            <p>James applied to your job "Seeking Assistance for House Painting Project".</p>
            <div onclick="">
              <img class="notifi-close" src="/svg/close-black.svg" alt="">
            </div>
          </li>
          <li class="notifi-item">
            <img class="notifi-photo" src="/img/photo-1592334873219-42ca023e48ce.avif" alt="">
            <p>James applied to your job "Seeking Assistance for House Painting Project".</p>
            <div onclick="">
              <img class="notifi-close" src="/svg/close-black.svg" alt="">
            </div>
          </li>
        </ul>
      </div>
      <a class="header__savedTalent" th:href="@{/talent}"
      ><img
              class="header__savedTalent-icon"
              src="/svg/savedTalent.svg"
      /></a>
      <a class="header__protfolio" th:href="@{/dashboard}"
      ><img class="header__protfolio-icon" src="/svg/protfolio.svg"
      /></a>
    </div>
  </header>
    <main>
      <div class="new__request__form">
        <form action="">
          <div class="form__title">New Request</div>
          <div class="form__subtitles">Skill I need</div>
          <select
            id="skillSelect"
            name="skillSelected[]"
            class="main__section__field-skill1-input"
            required
          >
            <option style="display: none" value=""></option>
            <option value="assembly">Assembly</option>
            <option value="mounting">Mounting</option>
            <option value="moving">Moving</option>
            <option value="cleaning">Cleaning</option>
            <option value="outdoorHelp">Outdoor Help</option>
            <option value="homeRepairs">Home Repairs</option>
            <option value="painting">Painting</option>
          </select>

          <div id="selectedSkillsContainer"></div>

          <div class="form__subtitles">Title</div>
          <input
            type="text"
            name=""
            placeholder="Add a title..."
            required
          />

          <div class="form__subtitles">Application Deadline</div>
          <input type="date" name="" required />

          <div class="form__subtitles">Description</div>
          <textarea
            name=""
            cols="30"
            rows="10"
            placeholder="Add descriptions here..."
            required
          ></textarea>

          <div class="form__subtitles">Upload Images (Optional)</div>
          <button id="uploadImageBtn" class="upload__image__btn" type="button">
            CHOOSE IMAGE
          </button>
          <p>Max upload size: 10MB.</p>
          <div id="thumbnailContainer"></div>
          <div class="line__post"></div>

          <div class="request__bottom__btn">
            <button id="request__form__cancle" type="button">CANCLE</button>
            <button id="request__form__submit" type="submit">
              POST REQUEST
            </button>
          </div>
        </form>
      </div>
    </main>

    <!-- <footer>
      <div class="footer__display__area">
          <div id="uploadImageBtn" class="footer__follow__link">Follow us on: 
            <a href=""><i class="fa fa-instagram"></i></a>
            <i>|</i>
            <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <i>|</i>
            <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </div>
          <div class="footer__info">
            <div class="footer__info__discover">Discover
              <ul>
                <li><a href="">Become a Tasker</a></li>
                <li><a href="">Service By City</a></li>
                <li><a href="">All Services</a></li>
                <li><a href="">Elite Taskers</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="footer__info__company">Company
              <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Beyond Currency for Good</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Terms & Privacy</a></li>
                <li><a href="">About Our Ads</a></li>
              </ul>
            </div>
            <div class="footer__info__download">Apps coming soon
              <p>Sorry for your inconvenience, our apps<br>are developing.</p>
              <div class="ios__google__badge">
                <a href="">
                  <img src="../Main/svg/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="">
                </a>
                <a href="">
                  <img id="google__badge" src="../Main/img/google-play-badge.png" alt="">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer> -->

    <script>
      document
        .getElementById("skillSelect")
        .addEventListener("change", function () {
          let selectedSkill = this.value;
          if (!selectedSkill) return;

          let selectedSkillsContainer = document.getElementById(
            "selectedSkillsContainer"
          );
          let selectedSkillContainer = document.createElement("div");
          selectedSkillContainer.className = "selected-skill-container";

          let selectedSkillElement = document.createElement("div");
          selectedSkillElement.className = "selected-skill";
          selectedSkillElement.textContent = selectedSkill;

          let deleteButton = document.createElement("button");
          deleteButton.textContent = "x";
          deleteButton.className = "delete-button";
          deleteButton.addEventListener("click", function () {
            // Add selected option back to select
            let select = document.getElementById("skillSelect");
            let option = document.createElement("option");
            option.text = selectedSkill;
            option.value = selectedSkill;
            select.add(option);

            selectedSkillsContainer.removeChild(selectedSkillContainer);
          });

          selectedSkillContainer.appendChild(selectedSkillElement);
          selectedSkillContainer.appendChild(deleteButton);

          selectedSkillsContainer.appendChild(selectedSkillContainer);

          // Remove selected option from select
          let selectedIndex = this.selectedIndex;
          this.remove(selectedIndex);
        });

      // upload image locally
      document
        .getElementById("uploadImageBtn")
        .addEventListener("click", function () {
          let input = document.createElement("input");
          input.type = "file";

          input.accept = "image/*";

          input.addEventListener("change", function (event) {
            let file = event.target.files[0];

            if (file.size > 10 * 1024 * 1024) {
              alert("The picture you choosed exceeds 10MB!");
              return;
            }

            let reader = new FileReader();
            reader.onload = function (event) {
              let thumbnailContainer =
                document.getElementById("thumbnailContainer");

              let container = document.createElement("div");
              container.className = "thumbnail-container";

              let imgElement = document.createElement("img");
              imgElement.src = event.target.result;
              imgElement.alt = "Thumbnail";

              let deleteButton = document.createElement("button");
              deleteButton.textContent = "x";
              deleteButton.className = "image-delete-button";
              deleteButton.addEventListener("click", function () {
                thumbnailContainer.removeChild(container);
              });

              container.appendChild(imgElement);
              container.appendChild(deleteButton);

              thumbnailContainer.appendChild(container);
            };
            reader.readAsDataURL(file);
          });

          input.click();
        });
      let bell = document.getElementById("bell");
      let box = document.querySelector(".notifi-box");
      let dot = document.querySelector(".notifi-dot");
      let down = false;

      bell.addEventListener("click", function () {
        if (down) {
          box.style.display = "none";
          down = false;
          // Change back to the original source when the box hides
          bell.src = "/img/bell.png";
        } else {
          box.style.display = "block";
          down = true;
          // Change the source when the box shows
          bell.src = "/img/bell-green.png";
          dot.style.display = "none";
        }
      });

      // Close notification box when clicking outside of it
      document.addEventListener("click", function (event) {
        if (!box.contains(event.target) && event.target !== bell) {
          box.style.display = "none";
          down = false;
          // Change back to the original source when the box hides
          bell.src = "/img/bell.png";
        }
      });
    </script>
  </body>
</html>
