<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beyond Currency - Your Dashboard!</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/media.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/post_new.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>

  <body>
  <header class="header">
    <div class="header__left">
      <a th:href="@{/}" class="logo__link"><img class="header__img" src="/img/logo.png" alt="logo" /></a>
      <p class="header__title">Beyond Currency</p>
    </div>

    <div class="header__right">
      <div class="header__searchbar">
        <form action="" method="get">
          <img class="header__searchbar-icon" src="/svg/search.svg" />
          <input type="text" name="keyword" placeholder="Search" />
        </form>
      </div>
      <div class="header__notification">
        <div class="notifi-dot"></div>
        <div class="icon-bell">
          <img class="icon-bell-image" id="bell" src="/img/bell.png" alt="">
        </div>
        <input class="hidden" type="checkbox" name="isNewNotification" th:value="${isNewNotification}">
        <input class="hidden" type="number" name="loginUserId" th:value="${session.loginUser.getUserId()}">
        <ul class="notifi-box" id="box">
          <li class="notifi-item" th:each="n : ${relatedNotifications}">
            <img class="notifi-photo" th:src="${n.getSenderImg()}" src="/img/photo-1592334873219-42ca023e48ce.avif" alt="">
            <a th:href="@{/post/{id}(id=${n.getServiceId()})}" style="cursor: pointer"><p th:text="${n.getContent()}">James applied to your job "Seeking Assistance for House Painting Project".</p></a>
            <input class="hidden" type="number" name="notification_id" th:value="${n.getNotificationId()}">
            <div class="close-notification">
              <img class="notifi-close" src="/svg/close-black.svg" alt="">
            </div>
          </li>
        </ul>
      </div>
      <a class="header__savedTalent" th:href="@{/talent}"
      ><img
              class="header__savedTalent-icon"
              src="/svg/savedTalent.svg"
      /></a>
      <a class="header__protfolio" th:href="@{/dashboard}"
      ><img class="header__protfolio-icon" src="/svg/protfolio.svg" th:src="${session.loginUser.getImageUrl()}"
      /></a>
    </div>
  </header>
    <main>
      <div class="new__request__form">
        <form action="" th:action="@{/edited_post}" method="post" enctype="multipart/form-data">
          <div class="form__title">Edit Request</div>
          <input type="number" name="postId" th:value="${postId}" class="hidden">
          <div class="form__subtitles">Skill I need</div>
          <select
            id="skillSelect"
            name="skillSelected"
            class="main__section__field-skill1-input"
            required
          >
            <option style="display: none" value=""></option>
            <option value="General Furniture Assembly" th:selected="${category == 1}">General Furniture Assembly</option>
            <option value="Electrical Appliances Assembly" th:selected="${category == 2}">Electrical Appliances Assembly</option>
            <option value="General Mounting" th:selected="${category == 3}">General Mounting</option>
            <option value="TV Mounting" th:selected="${category == 4}">TV Mounting</option>
            <option value="Help Moving" th:selected="${category == 5}">Help Moving</option>
            <option value="Trash & Furniture Removal" th:selected="${category == 6}">Trash & Furniture Removal</option>
            <option value="Heavy Lifting & Loading" th:selected="${category == 7}">Heavy Lifting & Loading</option>
            <option value="Kitchen Cleaning" th:selected="${category == 8}">Kitchen Cleaning</option>
            <option value="Bathroom Cleaning" th:selected="${category == 9}">Bathroom Cleaning</option>
            <option value="Yard Work" th:selected="${category == 10}">Yard Work</option>
            <option value="Lawn Care" th:selected="${category == 11}">Lawn Care</option>
            <option value="Snow Removal" th:selected="${category == 12}">Snow Removal</option>
            <option value="Electrical Help" th:selected="${category == 13}">Electrical Help</option>
            <option value="Plumbing Help" th:selected="${category == 14}">Plumbing Help</option>
            <option value="Minor Home Repairs" th:selected="${category == 15}">Minor Home Repairs</option>
            <option value="Light Carpentry" th:selected="${category == 16}">Light Carpentry</option>
            <option value="Indoor Painting" th:selected="${category == 17}">Indoor Painting</option>
            <option value="Outdoor Painting" th:selected="${category == 18}">Outdoor Painting</option>
          </select>

          <div id="selectedSkillsContainer"></div>

          <div class="form__subtitles">Title</div>
          <input
            type="text"
            name="title"
            placeholder="Add a title..."
            th:value="${title}"
            required
          />

          <div class="form__subtitles">Application Deadline</div>
          <input type="date" name="deadline" th:value="${#dates.format(deadline, 'yyyy-MM-dd')}" required />

          <div class="form__subtitles">Description</div>
          <textarea
            name="description"
            cols="30"
            rows="10"
            placeholder="Add descriptions here..."
            th:text="${description}"
            required
          ></textarea>

          <div class="form__subtitles">Upload Images (Optional)</div>
          <button id="uploadImageBtn" class="upload__image__btn" type="button">
            CHOOSE IMAGE
          </button>
          <p>Max upload size: 10MB.</p>
          <input class="hidden" id="previousImage" th:value="${previous_image_url}" />
          <div id="fileInputContainer" style="display: none"></div>
          <div id="thumbnailContainer"></div>
          <div class="line__post"></div>

          <div class="request__bottom__btn">
            <button id="request__form__cancle" type="button">DELETE</button>
            <button id="request__form__submit" type="submit">
              UPDATE REQUEST
            </button>
          </div>
        </form>
      </div>
    </main>

    <script>
      // Check if previous image exists and display it
      let previousImageSrc = document.getElementById("previousImage").value; // Replace with the URL of the previous image
      if (previousImageSrc) {
        let thumbnailContainer = document.getElementById("thumbnailContainer");

        let container = document.createElement("div");
        container.className = "thumbnail-container";

        let imgElement = document.createElement("img");
        imgElement.src = previousImageSrc;
        imgElement.alt = "Previous Thumbnail";

        let deleteButton = document.createElement("button");
        deleteButton.textContent = "x";
        deleteButton.className = "image-delete-button";
        deleteButton.addEventListener("click", function () {
          thumbnailContainer.removeChild(container);
        });

        container.appendChild(imgElement);
        container.appendChild(deleteButton);

        thumbnailContainer.appendChild(container);
      }

      document.getElementById("uploadImageBtn").addEventListener("click", function () {
        let fileInputContainer = document.getElementById("fileInputContainer");

        // Create the file input element
        let input = document.createElement("input");
        input.type = "file";
        input.name = "imageFile";
        input.id = "imageFile";
        input.accept = "image/*";

        input.addEventListener("change", function (event) {
          let file = event.target.files[0];
          if (file.size > 10 * 1024 * 1024) {
            alert("The picture you choose exceeds 10MB!");
            return;
          }

          let reader = new FileReader();
          reader.onload = function (event) {
            let thumbnailContainer = document.getElementById("thumbnailContainer");

            // Hide previous thumbnail container
            let previousThumbnailContainer = document.querySelector(".thumbnail-container");
            if (previousThumbnailContainer) {
              previousThumbnailContainer.style.display = "none";
            }

            let container = document.createElement("div");
            container.className = "thumbnail-container";

            let imgElement = document.createElement("img");
            imgElement.src = event.target.result;
            imgElement.alt = "Thumbnail";

            let deleteButton = document.createElement("button");
            deleteButton.textContent = "x";
            deleteButton.className = "image-delete-button";
            deleteButton.addEventListener("click", function () {
              thumbnailContainer.removeChild(container);
              let imageFileInput = document.querySelector("#imageFile");
              if(imageFileInput){
                document.querySelector("#fileInputContainer").removeChild(imageFileInput);
              }
            });

            container.appendChild(imgElement);
            container.appendChild(deleteButton);

            thumbnailContainer.appendChild(container);
          };
          reader.readAsDataURL(file);
        });

        // Append the file input to the container
        fileInputContainer.appendChild(input);

        // Programmatically trigger a click on the file input to open the file picker dialog
        input.click();
      });


      document.getElementById("request__form__cancle").addEventListener("click", function() {
        history.back();
      });

      let bell = document.getElementById("bell");
      let box = document.querySelector(".notifi-box");
      let dot = document.querySelector(".notifi-dot");
      let down = false;

      let isNewNotification = $('input[name="isNewNotification"]').val();
      console.log(isNewNotification);
      if(isNewNotification !== 'true'){
        dot.style.display = "none";
      }

      bell.addEventListener("click", function () {
        if (down) {
          box.style.display = "none";
          down = false;
          // Change back to the original source when the box hides
          bell.src = "/img/bell.png";
        } else {
          box.style.display = "block";
          down = true;
          // Change the source when the box shows
          bell.src = "/img/bell-green.png";
          dot.style.display = "none";
        }

        // set isNewNotification to false
        $.ajax({
          type: "POST",
          url: "/setNotificationNotNew",
          data: {
            loginUserId: $('input[name="loginUserId"]').val()
          },
          success: function () {

          },
          error: function (xhr, status, error) {  // Callback function for error handling
            console.error("Error:", error);
          }
        })
      });

      $('.close-notification').click(function () {
        let button = $(this);
        let notificationId = button.closest('li').find('input[name="notification_id"]').val();

        $.ajax({
          type: "POST",
          url: "/notificationNotShow",
          data: {
            notificationId: notificationId,
          },
          success: function () {
            button.closest('li').fadeOut("fast");
          },
          error: function (xhr, status, error) {  // Callback function for error handling
            console.error("Error:", error);
          }
        })
      })

      // Check if there are no notifications
      if ($('.notifi-item').length === 0) {
        let noNotificationsMessage = '<li class="notifi-item"><p>You have no notifications</p></li>';
        $(box).append(noNotificationsMessage);
      }

      // Close notification box when clicking outside of it
      document.addEventListener("click", function (event) {
        if (!box.contains(event.target) && event.target !== bell) {
          box.style.display = "none";
          down = false;
          // Change back to the original source when the box hides
          bell.src = "/img/bell.png";
        }
      });
    </script>
  </body>
</html>
