<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beyond Currency</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/media.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="header__left">
        <a th:href="@{/}" class="logo__link"><img class="header__img" src="/img/logo.png" alt="logo" /></a>
        <p class="header__title">Beyond Currency</p>
      </div>

      <div class="header__right">
        <div class="header__searchbar">
          <form action="" method="get">
            <img class="header__searchbar-icon" src="/svg/search.svg" />
            <input type="text" name="keyword" placeholder="Search" />
          </form>
        </div>
        <div class="header__notification">
          <div class="notifi-dot"></div>
          <div class="icon-bell">
            <img class="icon-bell-image" id="bell" src="/img/bell.png" alt="">
          </div>
          <ul class="notifi-box" id="box">
            <li class="notifi-item">
              <img class="notifi-photo" src="/img/photo-1592334873219-42ca023e48ce.avif" alt="">
              <p>James applied to your job "Seeking Assistance for House Painting Project".</p>
              <div onclick="">
                <img class="notifi-close" src="/svg/close-black.svg" alt="">
              </div>
            </li>
            <li class="notifi-item">
              <img class="notifi-photo" src="/img/photo-1592334873219-42ca023e48ce.avif" alt="">
              <p>James applied to your job "Seeking Assistance for House Painting Project".</p>
              <div onclick="">
                <img class="notifi-close" src="/svg/close-black.svg" alt="">
              </div>
            </li>
          </ul>
        </div>
        <a class="header__savedTalent" th:href="@{/talent}"
          ><img
            class="header__savedTalent-icon"
            src="/svg/savedTalent.svg"
        /></a>
        <a class="header__protfolio" th:href="@{/dashboard}"
          ><img class="header__protfolio-icon" src="/svg/protfolio.svg"
        /></a>
      </div>
    </header>
    <main>
      <div class="main__container-request">
        <div class="request__container-left">
          <p class="request__container-left postedby">Posted by</p>
          <div style="display: flex;">
            <div class="request__container-left picgroup">
              <div class="request__container-left picgroup__greendot"></div>
              <img src="/img/man.jpg" class="request__container-left picgroup__pic" alt="">
            </div>
            <div class="request__section-title title__nameGroup">
              <p class="request__section-title title__nameGroup-name">Matteo Grasso</p>
              <div class="request__section-title title__addressGroup"><img src="/img/location.png" alt=""><p>Vancouver, BC V6Z 3G8</p></div>
              <div class="request__section-title title__rateGroup">
                <div class="request__section-title title__rateGroup-score">
                  <img src="/img/checkmark.png" alt="">
                  <p>96 Trust Score</p></div>
              </div>
            </div>
          </div>
          <div class="request__section-skill-lang">
            <div class="skill">
              <p>Skills for exchange</p>
              <ul>
                <li>Mounting</li>
                <li>Landscaping</li>
                <li>Cleaning</li>
              </ul>
            </div>
            <div class="lang">
              <p>Languages</p>
              <ul>
                <li>English: <span>Fluent</span></li>
                <li>Spanish: <span>Intermediate</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="request__container-right"> 
          <div class="top__container">
            <div class="top__container-left">
              <p class="top__container-left-request">REQUEST</p>
              <p class="top__container-left-date">Offers will be considered until March 2, 2025.</p>
            </div>
            <div class="top__container-right">
              <button class="top__container-right-btn">Offer Help</button>
              <div class="top__container-right-submitted">You made an offer to <span>Matteo Grasso</span>
              </div>
            </div>
          </div>
          <p class="request__title">Seeking Assistance for House Painting Project</p>
          <img class="request__pic" src="/img/Painting.webp" alt="">
          <p class="request__content">I'm reaching out because I'm gearing up for a house painting project, and I could really use some helping hands. If you have any experience with painting or just enjoy getting your hands dirty with a bit of DIY, I would be extremely grateful for your assistance.
          <br><br>
          The plan is to tackle this project on [specific date and time], and your expertise or company would make the task not only more enjoyable but also much more efficient. I've got all the necessary supplies and paint ready; all we need is a bit of teamwork to transform my house into something fresh and vibrant.
          <br><br>
          If you're available or interested, please let me know so we can coordinate the details. Whether it's for an hour or the entire day, any help you can provide will make a huge difference. Of course, I'll make sure there's plenty of refreshments and snacks to keep us energized throughout the day.</p>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer__display__area">
          <div class="footer__follow__link">Follow us on: 
            <a href=""><i class="fa fa-instagram"></i></a>
            <i>|</i>
            <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <i>|</i>
            <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </div>
          <div class="footer__info">
            <div class="footer__info__discover">Discover
              <ul>
                <li><a href="">Become a Tasker</a></li>
                <li><a href="">Service By City</a></li>
                <li><a href="">All Services</a></li>
                <li><a href="">Elite Taskers</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="footer__info__company">Company
              <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Beyond Currency for Good</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Terms & Privacy</a></li>
                <li><a href="">About Our Ads</a></li>
              </ul>
            </div>
            <div class="footer__info__download">Apps coming soon
              <p>Sorry for your inconvenience, our apps<br>are developing.</p>
              <div class="ios__google__badge">
                <a href="">
                  <img src="/svg/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="">
                </a>
                <a href="">
                  <img id="google__badge" src="/img/google-play-badge.png" alt="">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/base.js"></script>
    <script>
      //toggle btn
      let offerBtn = document.querySelector(".top__container-right-btn");
      let madeOffer = document.querySelector(".top__container-right-submitted");

      offerBtn.addEventListener("click", () => {
        offerBtn.style.display = "none";
        madeOffer.style.display = "block";
      });
    </script>
  </body>
</html>
