<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beyond Currency</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/media.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <!--  for header-->
    <link rel="stylesheet" href="/css/post_poster_view.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="header__left">
        <a th:href="@{/}" class="logo__link"><img class="header__img" src="/img/logo.png" alt="logo" /></a>
        <p class="header__title">Beyond Currency</p>
      </div>

      <div class="header__right">
        <div class="header__searchbar">
          <form action="" method="get">
            <img class="header__searchbar-icon" src="/svg/search.svg" />
            <input type="text" name="keyword" placeholder="Search" />
          </form>
        </div>
        <div class="header__notification">
          <div class="notifi-dot"></div>
          <div class="icon-bell">
            <img class="icon-bell-image" id="bell" src="/img/bell.png" alt="">
          </div>
          <ul class="notifi-box" id="box">
            <li class="notifi-item">
              <img class="notifi-photo" src="/img/photo-1592334873219-42ca023e48ce.avif" alt="">
              <p>James applied to your job "Seeking Assistance for House Painting Project".</p>
              <div onclick="">
                <img class="notifi-close" src="/svg/close-black.svg" alt="">
              </div>
            </li>
            <li class="notifi-item">
              <img class="notifi-photo" src="/img/photo-1592334873219-42ca023e48ce.avif" alt="">
              <p>James applied to your job "Seeking Assistance for House Painting Project".</p>
              <div onclick="">
                <img class="notifi-close" src="/svg/close-black.svg" alt="">
              </div>
            </li>
          </ul>
        </div>
        <a class="header__savedTalent" th:href="@{/talent}"
          ><img
            class="header__savedTalent-icon"
            src="/svg/savedTalent.svg"
        /></a>
        <a class="header__protfolio" th:href="@{/dashboard}"
          ><img class="header__protfolio-icon" src="/svg/protfolio.svg" th:src="${session.loginUser.getImageUrl()}"
        /></a>
      </div>
    </header>
    <main>
      <dialog class="modal" id="modal">
        <div class="modal__top">
          <h1 class="modal__top-name">What would you offer for exchange?</h1>
          <button class="modal__top-button">
            <img src="/img/close.png" alt="">
          </button>
        </div>
        <form class="modal__form" th:action="@{/post_processing}" method="post">
          <input class="hidden" name="selectedApplicantId" id="selectedApplicantId" type="number"/>
          <input class="hidden" name="post_id" id="post_id" type="number" th:value="${post.getServiceId()}"/>
          <select name="exchangeSkill" id="modal__form-dropdown" required>
            <option style="display: none"></option>
            <option value="skill1" th:value="${poster.getSkill1()}" th:text="${poster.getSkill1()}">Mounting</option>
            <option value="skill2" th:value="${poster.getSkill2()}" th:text="${poster.getSkill2()}" th:class="${(poster.getSkill2() == null or #strings.trim(poster.getSkill2()) == '') ? 'hidden' : ''}">Landscaping</option>
            <option value="skill3" th:value="${poster.getSkill3()}" th:text="${poster.getSkill3()}" th:class="${(poster.getSkill3() == null or #strings.trim(poster.getSkill3()) == '') ? 'hidden' : ''}">Cleaning</option>
<!--            <option value="other">Other (please specify in the Note)</option>-->
          </select>
          <label for="modal__form-note" id="modal__form-noteLabel">Note:</label>
          <textarea name="note" id="modal__form-note" cols="20" rows="10"></textarea>
          <button type="submit" id="modal__form-submitBtn">Submit</button>
        </form>
      </dialog>
      <div class="main__container-request">
        <div class="request__container-left">
          <p class="request__container-left postedby">APPLICANTS</p>
          <ul class="applicants">
            <li style="display: flex;" th:each="a: ${relatedApp}" th:abbr="${a.getApplicantId()}">
              <a th:href="@{/user/expert/{id}(id=${a.getApplicantId()})}" style="cursor: pointer"><div class="request__container-left picgroup">
                <div class="request__container-left picgroup__greendot"></div>
                <img th:src="${a.getApplicantImage()}" src="/img/photo-1592334873219-42ca023e48ce.avif" class="request__container-left picgroup__pic" alt="">
              </div>
              </a>
              <div class="request__section-title title__nameGroup">
                <p class="request__section-title title__nameGroup-name" th:text="${a.getApplicantFirstName() + ' ' + a.getApplicantLastName()}">James</p>
                <input type="number" class="hidden" name="application_id" th:value="${a.getApplicationId()}">
                <div style="display: flex;gap: 10px;">
                  <button class="btn-accept">Accept</button>
                  <button class="btn-reject">Reject</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="request__container-right"> 
          <div class="top__container">
            <div class="top__container-left">
              <p class="top__container-left-request">REQUEST</p>
              <p class="top__container-left-date" th:text="${'Offers will be considered until ' + post.getDeadlineStr()}">Offers will be considered until March 2, 2025.</p>
            </div>
            <div class="top__container-right">
              <form th:action="@{/post_edit}" method="post">
                <input type="number" name="postId" th:value="${post.getServiceId()}" class="hidden">
                <input type="number" name="category" th:value="${post.getCategoryId()}" class="hidden">
                <input type="text" name="title" th:value="${post.getServiceTitle()}" class="hidden">
                <input type="date" name="deadline" th:value="${post.getDeadline()}" class="hidden">
                <textarea name="description" th:text="${post.getDescription()}"  class="hidden"></textarea>
                <input type="text" name="previous_image_url" th:value="${post.getImageUrl()}" class="hidden">
                <button class="top__container-right-btn" type="submit">Edit Post</button>
              </form>
              <div class="top__container-right-submitted">You made an offer to <span>Matteo Grasso</span>
              </div>
            </div>
          </div>
          <p class="request__title" th:text="${post.getServiceTitle()}">Seeking Assistance for House Painting Project</p>
          <img class="request__pic" th:src="${post.getImageUrl()}" src="/img/Painting.webp" alt="">
          <ul th:each="p : ${paragraphList}">
            <li>
              <p class="request__content" th:text="${p}"></p>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer__display__area">
          <div class="footer__follow__link">Follow us on: 
            <a href=""><i class="fa fa-instagram"></i></a>
            <i>|</i>
            <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <i>|</i>
            <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </div>
          <div class="footer__info">
            <div class="footer__info__discover">Discover
              <ul>
                <li><a href="">Become a Tasker</a></li>
                <li><a href="">Service By City</a></li>
                <li><a href="">All Services</a></li>
                <li><a href="">Elite Taskers</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="footer__info__company">Company
              <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Beyond Currency for Good</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Terms & Privacy</a></li>
                <li><a href="">About Our Ads</a></li>
              </ul>
            </div>
            <div class="footer__info__download">Apps coming soon
              <p>Sorry for your inconvenience, our apps<br>are developing.</p>
              <div class="ios__google__badge">
                <a href="">
                  <img src="/svg/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="">
                </a>
                <a href="">
                  <img id="google__badge" src="/img/google-play-badge.png" alt="">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/post_poster_view.js">
    </script>
  </body>
</html>
